<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div [ngStyle]="{
  'background':config.fondo,
  'padding': '20px',
  'border': '1px solid black',
  'border-color': config.color
}">
  <h1> {{ title }} </h1>
  <span> Primera aplicación con Angular en marcha!!! </span>
  <span> {{ texto }} </span>


  <!--Directiva estructural (if)
  los elementos se mostrarán sólo si se cumple la condición del ngIf-->
  <button (click)="visibilidadVideojuego(false);" *ngIf="videojuegoVisible">Ocultar videojuegos</button>
  <button (click)="visibilidadVideojuego(true);" *ngIf="!videojuegoVisible">Mostrar videojuegos</button>

  <videojuego *ngIf="videojuegoVisible"></videojuego>

  <h3>Mira mis dados, guapo...</h3>
  <div style="text-align: center;">
    <dado></dado>
    <dado></dado>
    <dado></dado>
  </div>

  <button (click)="visibilidadZapatilla(false)" *ngIf="zapatillaVisible">Ocultar Zapatillas</button>
  <button (click)="visibilidadZapatilla(true)" *ngIf="!zapatillaVisible">Mostrar Zapatillas</button>

  <zapatilla *ngIf="zapatillaVisible"></zapatilla>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
